.myClass{
  width: 240px !important
}

.user_avatar:hover{
  background-color: #fff !important;
  color: black !important;
  cursor: pointer
}

.filtersContainer{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  justify-content: center;

  margin: 15 auto;
  max-width: 90%;
  width: max-content;
}

.cardsContainer{
  margin: auto !important;
}

.documentMedia{ 
  background-size: contain !important;
}
.documentMedia:hover{
  cursor: pointer !important;
}
