{% load static %}
<html>

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />
  <style>
    html,
    body {
      margin: 0; 
      padding:0;
    }
  </style>
</head>

<body>
  <div id='app'></div>
  {% block body %} {% endblock %}
  <script type="text/javascript">
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
          var cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
    const CSRF_TOKEN = getCookie('csrftoken');
    const urls = {
      LAYERS_URL: '/layers/',
      MAPS_URL: '/maps/',
      APPS_URL: '/apps/appinstances/',
      DOCUMENTS_URL:'/documents/',

      LAYERS_API_URL: '/api/layers/?limit=10&offset=0',
      MAPS_API_URL: '/api/maps/?limit=10&offset=0',
      APP_INSTANCES_API_URL: '/api/appinstances/?limit=10&offset=0',
      FEATURED_API_URL: '/api/featured/?',
      DOCUMENTS_API_URL: '/api/documents/?',
      APP_API_URL: '/api/app/',

      KEYWORDS_API_URL: '/api/keywords',
      CATEGORIES_API_URL: '/api/categories',
      OWNERS_API_URL: '/api/owners',
    }
    {% if request.user.is_authenticated %}
      const user_logged_in = true
      const user_name = '{{request.user}}'
    {% else %}
      const user_logged_in = false
      const user_name = undefined
    {% endif %}
  </script>
  <script src='{% static "cardsjs-lib/dist/materialComponent.entry.js" %}'></script>
  {% block extra_script %} {% endblock %}
</body>

</html>